.spacechains-landing-body {
    background: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.singleStar {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px rgba(#fff, .52);
}

.main_area {
    overflow: hidden;
}

#rocket {
    position: absolute;
    left: 20px;
    top: 80px;
}

.get_on_google {
    max-width: 206px;
    position: absolute;
    bottom: 70px;
    left: 53px;
}